# @wanteddev/* 는 GitHub Packages 레지스트리에서 받는다.
# 인증 토큰은 이 파일에 넣지 말 것. 사용자 홈의 ~/.npmrc 에 둔다:
#   npm config set //npm.pkg.github.com/:_authToken "<GitHub PAT>" --location=user
# PAT 는 classic 토큰 + read:packages 스코프.
@wanteddev:registry=https://npm.pkg.github.com/
